!!! Strict
%html{ :lang => "pl", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      JQtouch Toolbar test
    %style{ :type => "text/css", :media => "screen" } @import "jqtouch/jqtouch.css";
    %style{ :type => "text/css", :media => "screen" } @import "jqtouch/themes/apple/theme.css";
    %style{ :type => "text/css", :media => "screen" } @import "jqtouch/extensions/scrolling.css";
    %script{ :src => "jqtouch/jquery.1.3.2.min.js", :type => "text/javascript", :charset => "utf-8" }
    %script{ :src => "jqtouch/jqtouch.js", :type => "application/x-javascript", :charset => "utf-8" }
    %script{ :src => "jqtouch/extensions/jqt.scrolling.js", :type => "application/x-javascript", :charset => "utf-8" }
    :javascript
      var jQT = new $.jQTouch({
        slideSelector: '#jqt li a, slide'
      });
      $(window).bind('load orientationchange', function(){
        $('#jqt').removeClass('profile landscape').addClass(Math.abs(window.orientation) == 90 ? 'landscape' : 'profile');
        scrollTo(0,0);
      });
  %body
    #jqt
      #index
        .toolbar
          %h1
            Toolbar test
        %ul.rounded
          %li.arrow
            %a{ :href => "/toolbar" } toolbar
            %small.counter 101
          %li.arrow
            %a{ :href => "/notoolbar" } no toolbar
            %small.counter 101
