.toolbar
  %a.fade{ :href => "/home" }
    %img{ :src => "/images/toolbar/home.png" }
  %a.fade{ :href => "/categories" }
    %img{ :src => "/images/toolbar/categories.png" }
  %a.fade{ :href => "/featured" }
    %img{ :src => "/images/toolbar/star.png" }
  %a.fade{ :href => "/search" }
    %img{ :src => "/images/toolbar/search.png" }
  %a.fade{ :href => "/notoolbar" }
    %img{ :src => "/images/toolbar/pages.png" }
