#toolbar2
  .toolbar
    %h1
      Toolbar 2
    %a.back{ :href => "#" }
      Back
  .vertical-scroll.use-bottom-toolbar
    %div
      %ul.rounded
        - 100.times do |n|
          %li Rzecz #{n}
  .toolbar
    %a.fade{ :href => "/toolbar" } 1
    |
    %a.fade{ :href => "/toolbar2" } 2
